# python cache
__pycache__/
*.py[cod]
*$py.class

# ambiente virtual
venv/
.env/
.venv/

# IDEs e configs
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# banco de dados local
db.sqlite3

# logs
*.log

# static e media gerados
/media
/staticfiles